certifi
clickhouse-connect
contourpy
cycler
filelock
fonttools
fsspec
iterfzf
Jinja2
kiwisolver
lz4
MarkupSafe
matplotlib
mpmath
networkx
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
setuptools
six
sympy
typing_extensions
tzdata
urllib3
zstandard
fastapi
uvicorn
tensorflow
joblib
scikit-learn
tqdm
